<%= image_tag "cine_cover", class:"img-fluid mx-auto d-block", id:"cine_cover", alt: "Cinema Projector" %>

<div class="container my-3">
  <div class="navbar">
    <div><h3>My Lists</h3></div>
    <div><p class="btn btn-success"><%= link_to "Create a movie list", new_list_path %></p></div>
  </div>
  <div class="row row-cols-auto">
    <% @lists.each do |list| %>
      <div class="col">
        <%= link_to list_path(list) do %>
          <%= list.name.capitalize %>
          <%= image_tag "https://source.unsplash.com/1200x400/?#{list.name},movie", alt: "#{list.name} Movie", class:"list_picture" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
